.hunt-space {
	width: 100%;
	height: 400px;
	cursor: crosshair;
	margin: 0 auto;
	border: solid 1px #666;
	overflow: hidden;
}

.hunter-stats {
	width: 100%;
	height: 100px;
	margin: 0 auto;
	/*background: #B1B1B1;*/
}

.duck-flying {
	width: 100px;
	height: 54px;
}

.one {
	animation: fly-one 15s infinite;
}

.two {
	animation: fly-two 25s infinite;
}

.three {
	animation: fly-three 15s infinite;
}

.four {
	animation: fly-four 15s infinite;
}

.five {
	animation: fly-five 15s infinite;
}

@keyframes fly-one {
	0%   {margin-left: -10%;} 
	100% {margin-left: 110%;}
}

@keyframes fly-two {
	0%   {margin-left: 110%;} 
	100% {margin-left: -10%;}
}

@keyframes fly-three {
	0%   {margin-left: 110%;} 
	100% {margin-left: -10%;}
}

@keyframes fly-four {
	0%   {margin-left: -10%;} 
	100% {margin-left: 110%;}
}

@keyframes fly-five {
	0%   {margin-left: 110%;} 
	100% {margin-left: -10%;}
}