.hunt-space {
	width: 100%;
	height: 400px;
	cursor: crosshair;
	margin: 0 auto;
	border: solid 1px #666;
	overflow: hidden;
}

.hunter-stats {
	width: 100%;
	height: 100px;
	margin: 0 auto;
	/*background: #B1B1B1;*/
}

.duck-flying-one {
	width: 100px;
	height: 54px;
	/*background: green;*/
	animation: fly-one 20s infinite;
	/*z-index: 999;*/
}

.duck-flying-two {
	width: 100px;
	height: 54px;
	/*background: green;*/
	animation: fly-two 20s infinite;
}

@keyframes fly-one {
	0%   {margin-left: -10%;} 
	100% {margin-left: 100%;}
}

@keyframes fly-two {
	0%   {margin-left: 110%;} 
	100% {margin-left: -10%;}
}