body {
	background: #FFF;
}

.hunt-space {
	width: 85%;
	height: 465px;
	cursor: crosshair;
	margin: 0 auto;
	border: solid 1px #666;
	background: #FFF;
	overflow: hidden;
}

.hunter-stats {
	width: 85%;
	height: 100px;
	margin: 0 auto;
	display: table;
}

/**
 * voo
 */
.duck-flying-right {
	width: 104px;
	height: 80px;
	background-image: url('../image/sprite-duck-right.png');
	animation: fly .8s steps(9) infinite;
}

.duck-flying-left {
	width: 104px;
	height: 80px;
	background-image: url('../image/sprite-duck-left.png');
	animation: fly .8s steps(9) infinite;
}

@keyframes fly {
	100% {background-position: -940px;}
}

/**
 * move-one
 */
#duck-move-one {
	animation: move_one 15s infinite;
}

@keyframes move_one {
	0%   {margin-left: -10%;  margin-top:  5px;}
	5%   {margin-left:  10%;  margin-top: 10px;}
	10%  {margin-left:  15%;  margin-top: 25px;}
	15%  {margin-left:  15%;  margin-top: 15px;}
	20%  {margin-left:  20%;  margin-top:  5px;}
	25%  {margin-left:  25%;  margin-top:  5px;}
	30%  {margin-left:  25%;  margin-top: 10px;}
	35%  {margin-left:  30%;  margin-top: 25px;}
	40%  {margin-left:  40%;  margin-top: 20px;}
	45%  {margin-left:  45%;  margin-top: 15px;}
	50%  {margin-left:  55%;  margin-top:  0;}
	55%  {margin-left:  60%;  margin-top: 15px;}
	60%  {margin-left:  75%;  margin-top: 25px;}
	65%  {margin-left:  75%;  margin-top: 20px;}
	70%  {margin-left:  80%;  margin-top: 10px;}
	75%  {margin-left:  85%;  margin-top:  5px;}
	80%  {margin-left:  85%;  margin-top:  6px;}
	85%  {margin-left:  90%;  margin-top: 15px;}
	90%  {margin-left:  95%;  margin-top: 20px;}
	95%  {margin-left: 100%;  margin-top: 25px;}
	100% {margin-left: 100%;  margin-top:  0;}
}

/**
 * move-two
 */
#duck-move-two {
	animation: move_two 15s infinite;
}

@keyframes move_two {
	0%   {margin-left: 100%; margin-top:  5px;}
	5%   {margin-left:  85%; margin-top: 10px;}
	10%  {margin-left:  80%; margin-top: 25px;}
	15%  {margin-left:  80%; margin-top: 15px;}
	20%  {margin-left:  75%; margin-top:  5px;}
	25%  {margin-left:  70%; margin-top:  5px;}
	30%  {margin-left:  65%; margin-top: 10px;}
	35%  {margin-left:  60%; margin-top: 30px;}
	40%  {margin-left:  55%; margin-top: 25px;}
	45%  {margin-left:  50%; margin-top: 15px;}
	50%  {margin-left:  45%; margin-top:  0}
	55%  {margin-left:  40%; margin-top: 15px;}
	60%  {margin-left:  40%; margin-top: 25px;}
	65%  {margin-left:  30%; margin-top: 20px;}
	70%  {margin-left:  25%; margin-top: 10px;}
	75%  {margin-left:  25%; margin-top:  5px;}
	80%  {margin-left:  20%; margin-top:  6px;}
	85%  {margin-left:  20%; margin-top: 15px;}
	90%  {margin-left:  15%; margin-top: 20px;}
	95%  {margin-left: 100%; margin-top: 25px;}
	100% {margin-left: 110%; margin-top:  0;}
}

/**
 * move-three
 */
#duck-move-three {
	animation: move_three 15s infinite;
}

@keyframes move_three {
	0%   {margin-left: -10%;}
	50%  {margin-left: 30%;}
	100% {margin-left: 110%;}
}

/**
 * move-four
 */
#duck-move-four {
	animation: move_four 15s infinite;
}

@keyframes move_four {
	0%   {margin-left: 110%;}
	50%  {margin-left: 70%;}
	100% {margin-left: -10%;}
}

/**
 * move-five
 */
#duck-move-five {
	animation: move_five 15s infinite;
}

@keyframes move_five {
	0%   {margin-left: -10%;}
	50%  {margin-left: 30%;}
	100% {margin-left: 110%;}
}
